@import "tailwindcss";

@theme {
  /* 256px very small phones rarely used */
  --breakpoint-xs: 16rem;
  /* 512px small phones */
  --breakpoint-sm: 32rem;
  /* 768px large phones */
  --breakpoint-md: 48rem;
  /* 1024px tablet */
  --breakpoint-lg: 64rem;
  /* 1280px laptop */
  --breakpoint-xl: 80rem;
  /* 1536px */
  --breakpoint-2xl: 96rem;
  /* 1792px */
  --breakpoint-3xl: 112rem;
  /* 2048px */
  --breakpoint-4xl: 128rem;
  /* 2304px */
  --breakpoint-5xl: 154rem;
  /* 2560px MAX */
  --breakpoint-6xl: 160rem;

  /* Shadow Token */
  --shadow-soft: 0 2px 8px #bbb;

  /* primary: #FF0044, accent: #FF0066, background: #FFFFFF or #0000w11 for dark mode, and Text: #000000 and #FFFFFF for dark */
  /* Light Color Palette */
  --color-primary: #FF0044;
  --color-accent: #FF0066;
  --color-background: #FFFFFF;
  --color-text: #000000;
}

@layer base {
  [data-theme='dark'] {
    --color-primary: #FF0044;
    --color-accent: #FF0066;
    --color-background: #000011;
    --color-text: #FFFFFF;
  }
}


.desktop-wave-animation {
  animation: desktopWaveAnimation 12s linear infinite;
}

@keyframes desktopWaveAnimation {
  0% {
    d: path("M 0,700 L 0,337 C 95.25,270.9107142857143 190.5,204.82142857142858 298,216 C 405.5,227.17857142857142 525.2500000000001,315.625 671,292 C 816.7499999999999,268.375 988.5,132.67857142857142 1121,84 C 1253.5,35.32142857142858 1346.75,73.66071428571429 1440,112 L 1440,700 L 0,700 Z"
      );
  }

  25% {
    d: path("M 0,700 L 0,337 C 139.82142857142856,342.6607142857143 279.6428571428571,348.32142857142856 400,343 C 520.3571428571429,337.67857142857144 621.2499999999999,321.375 747,305 C 872.7500000000001,288.625 1023.3571428571429,272.17857142857144 1143,240 C 1262.642857142857,207.82142857142856 1351.3214285714284,159.91071428571428 1440,112 L 1440,700 L 0,700 Z"
      );
  }

  50% {
    d: path("M 0,700 L 0,337 C 122.5,299.9107142857143 245,262.82142857142856 372,286 C 499,309.17857142857144 630.5000000000001,392.62500000000006 763,367 C 895.4999999999999,341.37499999999994 1029,206.67857142857142 1142,146 C 1255,85.32142857142858 1347.5,98.66071428571429 1440,112 L 1440,700 L 0,700 Z"
      );
  }

  75% {
    d: path("M 0,700 L 0,337 C 107.42857142857142,348.2321428571429 214.85714285714283,359.4642857142857 337,321 C 459.14285714285717,282.5357142857143 596,194.375 718,156 C 840,117.625 947.1428571428571,129.03571428571428 1065,130 C 1182.857142857143,130.96428571428572 1311.4285714285716,121.48214285714286 1440,112 L 1440,700 L 0,700 Z"
      );
  }

  100% {
    d: path("M 0,700 L 0,337 C 95.25,270.9107142857143 190.5,204.82142857142858 298,216 C 405.5,227.17857142857142 525.2500000000001,315.625 671,292 C 816.7499999999999,268.375 988.5,132.67857142857142 1121,84 C 1253.5,35.32142857142858 1346.75,73.66071428571429 1440,112 L 1440,700 L 0,700 Z"
      );
  }
}

.mobile-wave-animation {
  animation: mobileWaveAnimation 6s linear infinite;
}

@keyframes mobileWaveAnimation {
  0% {
    d: path("M 0,600 L 0,225 C 115.21428571428572,177.21428571428572 230.42857142857144,129.42857142857142 348,160 C 465.57142857142856,190.57142857142858 585.5000000000001,299.5 709,301 C 832.4999999999999,302.5 959.5714285714284,196.57142857142858 1082,166 C 1204.4285714285716,135.42857142857142 1322.2142857142858,180.21428571428572 1440,225 L 1440,600 L 0,600 Z"
      );
  }

  25% {
    d: path("M 0,600 L 0,225 C 130.75,276.8928571428571 261.5,328.7857142857143 384,316 C 506.5,303.2142857142857 620.7500000000001,225.75 724,181 C 827.2499999999999,136.25 919.5,124.21428571428572 1037,137 C 1154.5,149.78571428571428 1297.25,187.39285714285714 1440,225 L 1440,600 L 0,600 Z"
      );
  }

  50% {
    d: path("M 0,600 L 0,225 C 136.67857142857142,183.07142857142856 273.35714285714283,141.14285714285714 384,146 C 494.64285714285717,150.85714285714286 579.25,202.49999999999997 704,223 C 828.75,243.50000000000003 993.6428571428573,232.85714285714286 1123,228 C 1252.3571428571427,223.14285714285714 1346.1785714285713,224.07142857142856 1440,225 L 1440,600 L 0,600 Z"
      );
  }

  75% {
    d: path("M 0,600 L 0,225 C 119.46428571428572,166.17857142857144 238.92857142857144,107.35714285714286 346,124 C 453.07142857142856,140.64285714285714 547.75,232.75 659,279 C 770.25,325.25 898.0714285714287,325.64285714285717 1031,309 C 1163.9285714285713,292.35714285714283 1301.9642857142858,258.67857142857144 1440,225 L 1440,600 L 0,600 Z"
      );
  }

  100% {
    d: path("M 0,600 L 0,225 C 115.21428571428572,177.21428571428572 230.42857142857144,129.42857142857142 348,160 C 465.57142857142856,190.57142857142858 585.5000000000001,299.5 709,301 C 832.4999999999999,302.5 959.5714285714284,196.57142857142858 1082,166 C 1204.4285714285716,135.42857142857142 1322.2142857142858,180.21428571428572 1440,225 L 1440,600 L 0,600 Z"
      );
  }
}